
  
  
  input{
    width: 450px;
    height: 15px;
    
  }
  .mat-form-field {
    margin: 10px;
    margin-left: 30%;
    display: block;
    width: 450px;
    color:rgb(247, 206, 23);
    font-size: large;
    font-weight: 600;
    
  }
  button{
    margin-left: 50%;
    margin-top: 1%;
    padding: 16px;
    padding-left: 20px;
    border-radius: 50px;
    background-color: chartreuse;
    color: aliceblue;
    border: none;
  }
  .asset {
    padding-left: 0%;
  }
  .two{
    height: 100px;
  }
  .asset1{
    color: red;
  }
  